In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.stats import f_oneway

In [2]:
df = pd.read_csv('data/Wellbeing_and_lifestyle_data_Kaggle.csv')
df

,Timestamp,FRUITS_VEGGIES,DAILY_STRESS,PLACES_VISITED,CORE_CIRCLE,SUPPORTING_OTHERS,SOCIAL_NETWORK,ACHIEVEMENT,DONATION,BMI_RANGE,...,SLEEP_HOURS,LOST_VACATION,DAILY_SHOUTING,SUFFICIENT_INCOME,PERSONAL_AWARDS,TIME_FOR_PASSION,WEEKLY_MEDITATION,AGE,GENDER,WORK_LIFE_BALANCE_SCORE
0,7/7/15,3,2,2,5,0,5,2,0,1,...,7,5,5,1,4,0,5,36 to 50,Female,609.5
1,7/7/15,2,3,4,3,8,10,5,2,2,...,8,2,2,2,3,2,6,36 to 50,Female,655.6
2,7/7/15,2,3,3,4,4,10,3,2,2,...,8,10,2,2,4,8,3,36 to 50,Female,631.6
3,7/7/15,3,3,10,3,10,7,2,5,2,...,5,7,5,1,5,2,0,51 or more,Female,622.7
4,7/7/15,5,1,3,3,10,4,2,4,2,...,7,0,0,2,8,1,5,51 or more,Female,663.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15967,3/14/21 5:42,3,3,0,4,0,10,0,4,2,...,7,0,1,1,5,2,5,51 or more,Female,644.5
15968,3/14/21 6:30,3,3,6,8,7,4,6,3,1,...,6,0,0,2,10,5,8,21 to 35,Female,714.9
15969,3/14/21 8:35,4,3,0,10,10,8,6,5,1,...,7,0,1,2,10,1,10,21 to 35,Male,716.6
15970,3/14/21 8:43,1,1,10,8,2,7,3,2,1,...,8,7,2,2,1,6,8,21 to 35,Female,682.0
15971,3/14/21 9:03,5,4,0,2,10,10,5,1,2,...,8,5,2,2,1,8,4,21 to 35,Female,651.4

In [3]:
df = df[['DAILY_STRESS', 'PLACES_VISITED', 'SOCIAL_NETWORK', 'SLEEP_HOURS', 'PERSONAL_AWARDS']]
df.loc[10005:]

,DAILY_STRESS,PLACES_VISITED,SOCIAL_NETWORK,SLEEP_HOURS,PERSONAL_AWARDS
10005,1/1/00,1,10,6,10
10006,2,7,0,8,7
10007,5,10,2,8,5
10008,4,10,10,8,10
10009,2,2,5,5,2
...,...,...,...,...,...
15967,3,0,10,7,5
15968,3,6,4,6,10
15969,3,0,8,7,10
15970,1,10,7,8,1
15971,4,0,10,8,1

In [4]:
df = df.drop(10005).apply(pd.to_numeric)
df

,DAILY_STRESS,PLACES_VISITED,SOCIAL_NETWORK,SLEEP_HOURS,PERSONAL_AWARDS
0,2,2,5,7,4
1,3,4,10,8,3
2,3,3,10,8,4
3,3,10,7,5,5
4,1,3,4,7,8
...,...,...,...,...,...
15967,3,0,10,7,5
15968,3,6,4,6,10
15969,3,0,8,7,10
15970,1,10,7,8,1
15971,4,0,10,8,1

## Independent Variable 1: Places Visited

H0: Î¼1 = Î¼2 = Î¼3 = â€¦ = Î¼k the mean places visited is the same across all survey respondents with stress level ranging from 0 to 5

H1: at least one population mean is different from the others

In [5]:
variable1_G0 = df[['DAILY_STRESS', 'PLACES_VISITED']].loc[(df['DAILY_STRESS']==0)]
variable1_G1 = df[['DAILY_STRESS', 'PLACES_VISITED']].loc[(df['DAILY_STRESS']==1)]
variable1_G2 = df[['DAILY_STRESS', 'PLACES_VISITED']].loc[(df['DAILY_STRESS']==2)]
variable1_G3 = df[['DAILY_STRESS', 'PLACES_VISITED']].loc[(df['DAILY_STRESS']==3)]
variable1_G4 = df[['DAILY_STRESS', 'PLACES_VISITED']].loc[(df['DAILY_STRESS']==4)]
variable1_G5 = df[['DAILY_STRESS', 'PLACES_VISITED']].loc[(df['DAILY_STRESS']==5)]

In [6]:
stat1, p1 = f_oneway(variable1_G0['PLACES_VISITED'],
                     variable1_G1['PLACES_VISITED'],
                     variable1_G2['PLACES_VISITED'],
                     variable1_G3['PLACES_VISITED'],
                     variable1_G4['PLACES_VISITED'],
                     variable1_G5['PLACES_VISITED'])

In [7]:
print("p-values:", p1)
print("ANOVA:", stat1)

if p1 < 0.05:
    print("Hypothesis Rejected")
else:
    print("Hypothesis Accepted")

p-values: 2.5014735138376546e-71
ANOVA: 68.72046510457366
Hypothesis Rejected

## Independent Variable 2: Social Network

H0: Î¼1 = Î¼2 = Î¼3 = â€¦ = Î¼k the mean number of people interacted per day is the same across all survey respondents with stress level ranging from 0 to 5

H1: at least one population mean is different from the others

In [8]:
variable2_G0 = df[['DAILY_STRESS', 'SOCIAL_NETWORK']].loc[(df['DAILY_STRESS']==0)]
variable2_G1 = df[['DAILY_STRESS', 'SOCIAL_NETWORK']].loc[(df['DAILY_STRESS']==1)]
variable2_G2 = df[['DAILY_STRESS', 'SOCIAL_NETWORK']].loc[(df['DAILY_STRESS']==2)]
variable2_G3 = df[['DAILY_STRESS', 'SOCIAL_NETWORK']].loc[(df['DAILY_STRESS']==3)]
variable2_G4 = df[['DAILY_STRESS', 'SOCIAL_NETWORK']].loc[(df['DAILY_STRESS']==4)]
variable2_G5 = df[['DAILY_STRESS', 'SOCIAL_NETWORK']].loc[(df['DAILY_STRESS']==5)]

In [9]:
stat2, p2 = f_oneway(variable2_G0['SOCIAL_NETWORK'],
                   variable2_G1['SOCIAL_NETWORK'],
                   variable2_G2['SOCIAL_NETWORK'],
                   variable2_G3['SOCIAL_NETWORK'],
                   variable2_G4['SOCIAL_NETWORK'],
                   variable2_G5['SOCIAL_NETWORK'])

In [10]:
print("p-values:", p2)
print("ANOVA:", stat2)

if p2 < 0.05:
    print("Hypothesis Rejected")
else:
    print("Hypothesis Accepted")

p-values: 1.7410140092174364e-08
ANOVA: 8.9337277247156
Hypothesis Rejected

## Independent Variable 3: Sleep Hours

H0: Î¼1 = Î¼2 = Î¼3 = â€¦ = Î¼k the mean number of hours slept per night is the same across all survey respondents with stress level ranging from 0 to 5

H1: at least one population mean is different from the others

In [11]:
variable3_G0 = df[['DAILY_STRESS', 'SLEEP_HOURS']].loc[(df['DAILY_STRESS']==0)]
variable3_G1 = df[['DAILY_STRESS', 'SLEEP_HOURS']].loc[(df['DAILY_STRESS']==1)]
variable3_G2 = df[['DAILY_STRESS', 'SLEEP_HOURS']].loc[(df['DAILY_STRESS']==2)]
variable3_G3 = df[['DAILY_STRESS', 'SLEEP_HOURS']].loc[(df['DAILY_STRESS']==3)]
variable3_G4 = df[['DAILY_STRESS', 'SLEEP_HOURS']].loc[(df['DAILY_STRESS']==4)]
variable3_G5 = df[['DAILY_STRESS', 'SLEEP_HOURS']].loc[(df['DAILY_STRESS']==5)]

In [12]:
stat3, p3 = f_oneway(variable3_G0['SLEEP_HOURS'],
                     variable3_G1['SLEEP_HOURS'],
                     variable3_G2['SLEEP_HOURS'],
                     variable3_G3['SLEEP_HOURS'],
                     variable3_G4['SLEEP_HOURS'],
                     variable3_G5['SLEEP_HOURS'])

In [13]:
print("p-values:", p3)
print("ANOVA:", stat3)

if p3 < 0.05:
    print("Hypothesis Rejected")
else:
    print("Hypothesis Accepted")

p-values: 2.352836942520589e-84
ANOVA: 81.09870793501278
Hypothesis Rejected

## Independent Variable 4: Personal Awards

H0: Î¼1 = Î¼2 = Î¼3 = â€¦ = Î¼k the mean number of recognition received is the same across all survey respondents with stress level ranging from 0 to 5

H1: at least one population mean is different from the others

In [14]:
variable4_G0 = df[['DAILY_STRESS', 'PERSONAL_AWARDS']].loc[(df['DAILY_STRESS']==0)]
variable4_G1 = df[['DAILY_STRESS', 'PERSONAL_AWARDS']].loc[(df['DAILY_STRESS']==1)]
variable4_G2 = df[['DAILY_STRESS', 'PERSONAL_AWARDS']].loc[(df['DAILY_STRESS']==2)]
variable4_G3 = df[['DAILY_STRESS', 'PERSONAL_AWARDS']].loc[(df['DAILY_STRESS']==3)]
variable4_G4 = df[['DAILY_STRESS', 'PERSONAL_AWARDS']].loc[(df['DAILY_STRESS']==4)]
variable4_G5 = df[['DAILY_STRESS', 'PERSONAL_AWARDS']].loc[(df['DAILY_STRESS']==5)]

In [15]:
stat4, p4 = f_oneway(variable4_G0['PERSONAL_AWARDS'],
                     variable4_G1['PERSONAL_AWARDS'],
                     variable4_G2['PERSONAL_AWARDS'],
                     variable4_G3['PERSONAL_AWARDS'],
                     variable4_G4['PERSONAL_AWARDS'],
                     variable4_G5['PERSONAL_AWARDS'])

In [16]:
print("p-values:", p4)
print("ANOVA:", stat4)

if p4 < 0.05:
    print("Hypothesis Rejected")
else:
    print("Hypothesis Accepted")

p-values: 7.642352953325248e-07
ANOVA: 7.301999196835942
Hypothesis Rejected